# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\tuto\lambdaexp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
